<h2>List of my favorite League champions</h2>
{{> lovedChamps}}

<h2>List of my most hated League champions</h2>
{{> hatedChamps}}

{{#if listExists}}
<h2>List of suggested champions</h2>
<ul>
    {{#each suggestedChamps}}
    <li class={{this.lane}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}}